/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2014, 2:12:34 PM
    Author     : mlaslofi
*/

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(228, 128, 77); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 221, 192); /* this is a light blue */
}

input.number-age {
    width: 4em;
}

.flash {
    display: none;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgb(28, 184, 65);
}

.flash-content {
    text-align: left;
}

#close-flash {
    text-align: right;
    float: right;
}

.customer-info {
    padding-left: 15px;
    display: none;
}

.customer-row {
    cursor: pointer;
    background: #ffffff;
}

.hover-row {
    background: #e0e0e0;
}


.content-wrapper {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
