<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Customer Database -- Task A</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/task-a.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
    <div class="content-wrapper">
        <div class="content">
            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="flash">
                        <span id="flash-content" class="flash-content"></span>
                        <a id="close-flash" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="pure-g">
                <div class="pure-u-5-5">
                    <form id="form" class="pure-form" method="POST">
                        <fieldset>
                            <input id="name-input" type="text" name="name" placeholder="Customer Name" size="60" required>
                            <input id="age-input" type="number" name="age" placeholder="Age" class="number-age" required>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <button id="add-button" type="submit" class="pure-button button-secondary">Add</button>
                            <button id="delete-button" type="submit" class="pure-button button-warning">Delete</button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="pure-g">
                <div class="pure-u-1-2">
                    <table class="pure-table pure-table-horizontal" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Customer</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#customers}}
                            <tr class="customer-row">
                                <td class="name-td">{{getName}}</td>
                            </tr>
                            {{/customers}}
                        </tbody>
                    </table>
                </div>
                <div class="pure-u-1-2">
                    <div id="customer-info" class="customer-info">
                        <table class="pure-table">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Name</b>
                                    </td>
                                    <td id="ci-name"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Age</b>
                                    </td>
                                    <td id="ci-age"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Mobile Phone</b>
                                    </td>
                                    <td id="ci-phone-type"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/task-a.js"></script>
</body>
</html>
